<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Erreserbak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="success">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Erreserbak</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="../../assets/images/bungalow.jpg"
      />
      <ion-card-header>
        <ion-card-title>Bungalow-ak</ion-card-title>
        <ion-card-subtitle>Premium eta Standar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="ion-text-justify">
        Bungalowak etxebizitza abegikorrak dira, normalean solairu bakarrekoak,
        erosotasuna eta irisgarritasuna bilatzen dutenentzat aproposak inguru
        lasai batean.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
