<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Erreserbak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="success">
  <ion-header collapse="condense">
    <ion-header>
      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Erreserbak</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="showMessage()">
          <img alt="Bungalow argazkia" src="../../assets/images/bungalow.jpg" />
          <ion-card-header>
            <ion-card-title>Bungalow-ak</ion-card-title>
            <ion-card-subtitle>Premium eta Standard</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-text-justify">
            Bungalowak etxebizitza abegikorrak dira, normalean solairu
            bakarrekoak, erosotasuna eta irisgarritasuna bilatzen dutenentzat
            aproposak inguru lasai batean.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="showMessage()">
          <img
            alt="Partzela argakazkia"
            src="../../assets/images/patzelak.jpg"
          />
          <ion-card-header>
            <ion-card-title>Partzelak</ion-card-title>
            <ion-card-subtitle>Kalitate hoberenak</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Erreserbatu itzalarekin, korronte-hartunearekin eta naturaz
            inguratuta lasaitzeko leku zabala.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="showMessage()">
          <img
            alt="Karabana argakazkia"
            src="../../assets/images/caravana.jpg"
          />
          <ion-card-header>
            <ion-card-title>Karabana</ion-card-title>
            <ion-card-subtitle>Edozein motatakoak</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Ezagutu karabanentzako eremu zabalak, ur, argindar eta zerbitzu
            gertuak dituztenak.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="showMessage()">
          <img
            alt="Autokarabana argakazkia"
            src="../../assets/images/autokarabana.jpg"
          />
          <ion-card-header>
            <ion-card-title>Autokarabana</ion-card-title>
            <ion-card-subtitle>Mota askotarikoak</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Autokarabanentzako espazio esklusiboak, egonaldi perfekturako
            beharrezko erosotasun guztiekin.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="showMessage()">
          <img
            alt="Furgoneta argakazkia"
            src="../../assets/images/furgoneta.jpg"
          />
          <ion-card-header>
            <ion-card-title>Furgoneta</ion-card-title>
            <ion-card-subtitle>Handiak eta txikiak</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Camper furgonetentzako eremu esklusiboa, lasaitasuna bilatzen duten
            bidaiari ausartentzat diseinatua.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
