ion-card{
    --background: black;
}

ion-card-content{
    color: white;
}

ion-button{
    --background: black;
    --color: white;
    --background-activated: rgb(59, 59, 59);
}

img{
    border-radius: 10px;
}